<nav class="nav">
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link active" href="/">List</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/add">New Contact</a>
        </li>
        </li>
    </ul>
</nav>